<!DOCTYPE html>
<html lang="en">
<head>
    <title>Exceed Web</title>
    <!-- Load in JQuery, which is used to simplify DOM manipulation -->
    <!-- TODO: Find a way to force the entire engine to be loaded at once -->
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script defer src="../scripts/engine/main.js"></script>
    <script defer src="../scripts/engine/Renderer.js"></script>
    <script defer src="../scripts/engine/CardEffects.js"></script>
    <script defer src="../scripts/engine/GameState.js"></script>
    <script defer src="../scripts/DatabaseHook.js"></script>
</head>
<body>
    <div id="board">
    </div>
</body>
</html>